{% extends "learning/base.html" %}

{% block page-container %}


 	<div class="col-12 col-lg-6" style="margin:auto; margin-top:10%; margin-bottom: 10%">

		<div class="contact-form">
			<h4 style="text-align: center">Đăng nhập dành cho giảng viên</h4>
			 <form method="post" >
               {% csrf_token %}
				<h3 class="form-title"></h3>
				<input class="form-control" type="text" placeholder="Tài khoản" name="username" required id="id_username">
				<input class="form-control" type="password" type="text" placeholder="Mật khẩu" name="password" required id="id_password">
				<div class="form-actions">
					<input type="checkbox" id ="rememberMe" name="rememberMe"><label style="color: #8290a3;" for="rememberMe">Ghi nhớ</label>
					<input type="submit" class="btn clever-btn w-100" value="Đăng nhập" />
                    <input type="hidden" name="next" value="contact" />



				</div>
			 </form>
			</form>
			{% if form.errors %}
    		<p style="text-align:center; font-size: 20px; color:red">Tài khoản mật khẩu không chính xác! Hoặc bạn không có quyền truy cập trang dành cho giảng viên</p>
  			{% endif %}
		</div>
	</div>
  </div>


{% endblock %}