{% extends "learning/base.html" %}

{% block page-container %}
    {% if validlink %}
        <p>Vui lòng nhập và xác nhận mật khẩu mới.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label >New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label >Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Đổi mật khẩu" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Đặt lại mật khẩu không thành công</h1>
        <p>Liên kết đặt lại mật khẩu không hợp lệ hoặc có thể đã được sử dụng. Vui lòng thực hiện yêu cầu đặt lại mới.</p>
    {% endif %}
{% endblock %}